# functions in pandas

In [3]:
import pandas as pd

In [9]:
csv_1 = pd.read_csv("Finance Dataset.csv")

In [11]:
csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [13]:
csv_1.index

RangeIndex(start=0, stop=15, step=1)

In [15]:
csv_1.columns

Index(['Type', 'Component', '2021-01-01', '2021-02-01', '2021-03-01',
       '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
       '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01', '2022-01-01',
       '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
       '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01',
       '2022-12-01', '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
       '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01',
       '2023-10-01', '2023-11-01', '2023-12-01', '2024-01-01', '2024-02-01'],
      dtype='object')

In [17]:
csv_1.describe()

,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,8540.016667,8553.350000,8700.016667,8820.016667,8806.683333,8680.016667,8713.350000,8546.683333,9386.683333,9346.683333,...,11013.353333,11006.020000,11413.353333,11440.020000,11453.353333,11280.020000,11426.686667,11440.020000,11426.686667,11413.353333
std,16825.897832,16673.788362,16898.046485,16846.194123,17005.387655,16760.113493,16681.839948,16762.784162,17625.048409,18028.296528,...,20024.076090,20429.427229,20054.409001,19936.630207,19897.936830,20046.191715,19676.059560,19568.942478,19544.203520,19606.878322
min,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.250000,0.000000,0.000000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000
25%,800.000000,1000.000000,800.000000,1000.000000,800.000000,1000.000000,850.000000,600.000000,900.000000,1000.000000,...,950.000000,145.000000,600.000000,800.000000,1300.000000,1300.000000,1800.000000,1300.000000,2100.000000,1800.000000
50%,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1600.000000,4000.000000,2000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,4000.000000,3000.000000,3000.000000
75%,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,...,9000.000000,9000.000000,10000.000000,10000.000000,10000.000000,9000.000000,11000.000000,11000.000000,10500.000000,10500.000000
max,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,66000.000000,66000.000000,...,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75600.000000,75600.000000,75600.000000,75600.000000

In [19]:
csv_1.head(5)

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.0,1000.0,2000.0,3000.0,3000.0,2000.0,2000.0,1000.0,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,0.0,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0

In [21]:
csv_1.head(10)

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.0,1000.0,2000.0,3000.0,3000.0,2000.0,2000.0,1000.0,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,0.0,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.0,34600.0,36600.0,36600.0,37600.0,35600.0,34600.0,34600.0,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0

In [23]:
csv_1.tail(5)

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [27]:
csv_1[:2]

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.0,1000.0,2000.0,3000.0,3000.0,2000.0,2000.0,1000.0,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0

In [29]:
csv_1[6:11]

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
6,Expense,House Rent,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,6000.0,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,2600.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.0,1600.0,600.0,1600.0,600.0,1600.0,600.0,1600.0,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0

In [33]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [35]:
csv_1.index.array

<NumpyExtensionArray>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
Length: 15, dtype: int64

In [37]:
csv_1.to_numpy

<bound method DataFrame.to_numpy of        Type         Component  2021-01-01  2021-02-01  2021-03-01  2021-04-01  \
0    Income            Salary    60000.00    60000.00    60000.00    60000.00
1    Income        Freelancig     1000.00     1000.00     2000.00     3000.00
2   Savings      Mutual funds     6000.00     6000.00     6000.00     6000.00
3   Savings    Emergency Fund     2000.00     2000.00     2000.00     2000.00
4   Savings     Fixed Deposit     2000.00     2000.00     2000.00     2000.00
5   Savings       Liquid Cash    35600.00    34600.00    36600.00    36600.00
6   Expense        House Rent    10000.00    10000.00    10000.00    10000.00
7   Expense  Groceries & Food     6000.00     6000.00     6000.00     6000.00
8   Expense            Health     1000.00     1000.00     1000.00     1000.00
9   Expense              EMIs     2600.00     2600.00     2600.00     2600.00
10  Expense           Leisure      600.00     1600.00      600.00     1600.00
11  Expense          Shopping     1000.00     1000.00     1000.00     1000.00
12  Expense            Trevel      200.00      200.00      200.00      200.00
13  Expense             Other      100.00      300.00      500.00      300.00
14   Target           Savings        0.25        0.25        0.25        0.25

    2021-05-01  2021-06-01  2021-07-01  2021-08-01  ...  2023-05-01  \
0     60000.00    60000.00    60000.00    60000.00  ...     75000.0
1      3000.00     2000.00     2000.00     1000.00  ...      4000.0
2      6000.00     6000.00     6000.00     6000.00  ...      7000.0
3      2000.00     2000.00     2000.00        0.00  ...      2000.0
4      2000.00     2000.00     2000.00     2000.00  ...         0.0
5     37600.00    35600.00    34600.00    34600.00  ...     36100.0
6     10000.00    10000.00    12000.00    12000.00  ...     16000.0
7      6000.00     6000.00     6000.00     6000.00  ...      8000.0
8      1000.00     1000.00     1000.00     1000.00  ...      3000.0
9      2600.00     2600.00     2600.00     2600.00  ...     10000.0
10      600.00     1600.00      600.00     1600.00  ...      1600.0
11     1000.00     1000.00     1000.00     1000.00  ...      2000.0
12      200.00      200.00      200.00      200.00  ...       300.0
13      100.00      200.00      700.00      200.00  ...       200.0
14        0.25        0.25        0.25        0.25  ...         0.3

    2023-06-01  2023-07-01  2023-08-01  2023-09-01  2023-10-01  2023-11-01  \
0      75000.0     75000.0     75000.0     75000.0     75000.0     75600.0
1       4000.0      7000.0      7000.0      7000.0      6000.0      6000.0
2       7000.0      7000.0      7000.0      7000.0      7000.0      8000.0
3          0.0      1000.0      1000.0      1000.0      1000.0      2000.0
4       2000.0         0.0         0.0      2000.0      2000.0      2600.0
5      39200.0     37200.0     36400.0     36200.0     37200.0     32200.0
6      16000.0     16000.0     16000.0     16000.0     16000.0     16000.0
7       8000.0     10000.0     10000.0     10000.0      8000.0     10000.0
8       3000.0      3000.0      3000.0      3000.0      3000.0      3000.0
9      10000.0     10000.0     10000.0     10000.0     10000.0     12000.0
10       600.0      1600.0      3000.0      1600.0      1600.0      1600.0
11         0.0      3000.0      2000.0      2000.0      2000.0      2000.0
12       200.0       200.0       600.0       200.0       200.0       200.0
13        90.0       200.0       600.0       800.0       200.0       200.0
14         0.3         0.3         0.3         0.3         0.3         0.3

    2023-12-01  2024-01-01  2024-02-01
0      75600.0     75600.0     75600.0
1       6000.0      6000.0      6000.0
2       8000.0      8000.0      8000.0
3       1000.0      3000.0      3000.0
4       2600.0      2600.0      2600.0
5      31200.0     31200.0     31750.0
6      16000.0     16000.0     16000.0
7      10000.0      9000.0      9000.0
8       4000.0      3000.0      3000.0
9      12000.0     12000.0     12000.0
10      1600.0      1600.0      1600.0
11      3000.0      3000.0      2000.0
12       200.0       200.0       200.0
13       400.0       200.0       450.0
14         0.3         0.3         0.3

[15 rows x 40 columns]>

In [43]:
import numpy as np #converted in numpy
v = np.asarray(csv_1)
v

array([['Income', 'Salary', 60000.0, 60000.0, 60000.0, 60000.0, 60000.0,
        60000.0, 60000.0, 60000.0, 66000.0, 66000.0, 66000.0, 66000.0,
        70000.0, 70000.0, 70000.0, 70000.0, 70000.0, 70000.0, 70000.0,
        70000.0, 70000.0, 70000.0, 70000.0, 70000.0, 75000.0, 75000.0,
        75000.0, 75000.0, 75000.0, 75000.0, 75000.0, 75000.0, 75000.0,
        75000.0, 75600.0, 75600.0, 75600.0, 75600.0],
       ['Income', 'Freelancig', 1000.0, 1000.0, 2000.0, 3000.0, 3000.0,
        2000.0, 2000.0, 1000.0, 1000.0, 1000.0, 5000.0, 5000.0, 5000.0,
        5000.0, 5000.0, 5000.0, 5000.0, 5000.0, 5000.0, 5000.0, 4000.0,
        4000.0, 4000.0, 4000.0, 4000.0, 4000.0, 4000.0, 4000.0, 4000.0,
        4000.0, 7000.0, 7000.0, 7000.0, 6000.0, 6000.0, 6000.0, 6000.0,
        6000.0],
       ['Savings', 'Mutual funds', 6000.0, 6000.0, 6000.0, 6000.0,
        6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 7000.0,
        7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0,
        7000.0, 7000.0, 7000.0, 0.0, 7000.0, 7000.0, 7000.0, 7000.0,
        7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 8000.0, 8000.0,
        8000.0, 8000.0],
       ['Savings', 'Emergency Fund', 2000.0, 2000.0, 2000.0, 2000.0,
        2000.0, 2000.0, 2000.0, 0.0, 0.0, 2000.0, 2000.0, 2000.0, 2000.0,
        2000.0, 2000.0, 2000.0, 2000.0, 2000.0, 2000.0, 1000.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2000.0, 0.0, 1000.0, 1000.0,
        1000.0, 1000.0, 2000.0, 1000.0, 3000.0, 3000.0],
       ['Savings', 'Fixed Deposit', 2000.0, 2000.0, 2000.0, 2000.0,
        2000.0, 2000.0, 2000.0, 2000.0, 0.0, 2000.0, 0.0, 0.0, 0.0,
        2000.0, 2000.0, 2000.0, 2000.0, 1000.0, 1000.0, 1000.0, 2000.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2000.0, 0.0, 0.0, 2000.0,
        2000.0, 2600.0, 2600.0, 2600.0, 2600.0],
       ['Savings', 'Liquid Cash', 35600.0, 34600.0, 36600.0, 36600.0,
        37600.0, 35600.0, 34600.0, 34600.0, 32000.0, 35200.0, 41200.0,
        39200.0, 44000.0, 44400.0, 44400.0, 43400.0, 43400.0, 43400.0,
        42600.0, 43600.0, 41600.0, 42500.0, 38500.0, 34100.0, 36100.0,
        36100.0, 37500.0, 38100.0, 36100.0, 39200.0, 37200.0, 36400.0,
        36200.0, 37200.0, 32200.0, 31200.0, 31200.0, 31750.0],
       ['Expense', 'House Rent', 10000.0, 10000.0, 10000.0, 10000.0,
        10000.0, 10000.0, 12000.0, 12000.0, 12000.0, 12000.0, 12000.0,
        12000.0, 12000.0, 12000.0, 12000.0, 12000.0, 12000.0, 12000.0,
        12000.0, 12000.0, 12000.0, 12000.0, 16000.0, 16000.0, 16000.0,
        16000.0, 16000.0, 16000.0, 16000.0, 16000.0, 16000.0, 16000.0,
        16000.0, 16000.0, 16000.0, 16000.0, 16000.0, 16000.0],
       ['Expense', 'Groceries & Food', 6000.0, 6000.0, 6000.0, 6000.0,
        6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 8000.0,
        8000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0, 7000.0,
        8000.0, 8000.0, 8000.0, 10000.0, 10000.0, 10000.0, 10000.0,
        8000.0, 8000.0, 8000.0, 10000.0, 10000.0, 10000.0, 8000.0,
        10000.0, 10000.0, 9000.0, 9000.0],
       ['Expense', 'Health', 1000.0, 1000.0, 1000.0, 1000.0, 1000.0,
        1000.0, 1000.0, 1000.0, 1000.0, 1000.0, 1000.0, 1000.0, 3000.0,
        1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0,
        1600.0, 1600.0, 3000.0, 3000.0, 3000.0, 3000.0, 3000.0, 3000.0,
        3000.0, 3000.0, 3000.0, 3000.0, 3000.0, 3000.0, 4000.0, 3000.0,
        3000.0],
       ['Expense', 'EMIs', 2600.0, 2600.0, 2600.0, 2600.0, 2600.0,
        2600.0, 2600.0, 2600.0, 6000.0, 6000.0, 6000.0, 6000.0, 6000.0,
        6000.0, 6000.0, 6000.0, 6000.0, 6000.0, 7000.0, 7000.0, 7000.0,
        7000.0, 7000.0, 7000.0, 10000.0, 10000.0, 10000.0, 10000.0,
        10000.0, 10000.0, 10000.0, 10000.0, 10000.0, 10000.0, 12000.0,
        12000.0, 12000.0, 12000.0],
       ['Expense', 'Leisure', 600.0, 1600.0, 600.0, 1600.0, 600.0,
        1600.0, 600.0, 1600.0, 4000.0, 1600.0, 1600.0, 1600.0, 0.0, 0.0,
        0.0, 1000.0, 1000.0, 1000.0, 1600.0, 1600.0, 1600.0, 1600.0,
        1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 600.0,
        1600.0, 3000.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0, 1600.0],
       ['Expense', 'Shopping', 1000.0, 1000.0, 1000.0, 1000.0, 1000.0,
        1000.0, 1000.0, 1000.0, 2000.0, 1000.0, 1000.0, 1000.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 1000.0, 0.0, 0.0, 0.0, 1000.0, 1000.0, 2000.0,
        2000.0, 2000.0, 600.0, 2000.0, 2000.0, 0.0, 3000.0, 2000.0,
        2000.0, 2000.0, 2000.0, 3000.0, 3000.0, 2000.0],
       ['Expense', 'Trevel', 200.0, 200.0, 200.0, 200.0, 200.0, 200.0,
        200.0, 200.0, 4000.0, 200.0, 200.0, 200.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 200.0, 200.0, 200.0, 300.0, 300.0, 300.0, 300.0, 300.0,
        300.0, 300.0, 300.0, 200.0, 200.0, 600.0, 200.0, 200.0, 200.0,
        200.0, 200.0, 200.0],
       ['Expense', 'Other', 100.0, 300.0, 500.0, 300.0, 100.0, 200.0,
        700.0, 200.0, 800.0, 200.0, 133.0, 200.0, 0.0, 0.0, 400.0, 0.0,
        500.0, 0.0, 200.0, 170.0, 184.0, 300.0, 300.0, 164.0, 0.0, 300.0,
        300.0, 300.0, 200.0, 90.0, 200.0, 600.0, 800.0, 200.0, 200.0,
        400.0, 200.0, 450.0],
       ['Target', 'Savings', 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25,
        0.25, 0.25, 0.25, 0.25, 0.25, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3,
        0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3,
        0.3, 0.3, 0.3, 0.3, 0.3, 0.3]], dtype=object)

In [49]:
#sorting of data
csv_1.sort_index(axis=0,ascending=False)

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
0,Income,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0

In [55]:
#chaneg the data
csv_1["Type"][0]="python"
csv_1

C:\Users\aditi\AppData\Local\Temp\ipykernel_22108\2924283592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["Type"][0]="python"

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,python,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [59]:
#best method
csv_1.loc[0,"Component"]="python"
csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,python,python,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [63]:
csv_1.loc[[2,3],["Type","Component"]]
#to get the particular data

      Type       Component
2  Savings    Mutual funds
3  Savings  Emergency Fund

In [65]:
csv_1.loc[:,["Type","Component"]]

       Type         Component
0    python            python
1    Income        Freelancig
2   Savings      Mutual funds
3   Savings    Emergency Fund
4   Savings     Fixed Deposit
5   Savings       Liquid Cash
6   Expense        House Rent
7   Expense  Groceries & Food
8   Expense            Health
9   Expense              EMIs
10  Expense           Leisure
11  Expense          Shopping
12  Expense            Trevel
13  Expense             Other
14   Target           Savings

In [67]:
csv_1.iloc[0,1]

'python'

csv_1.drop("Component",axis=1)

In [70]:
csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,python,python,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3