# Read CSV

In [3]:
import pandas as pd

In [11]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv")

csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [13]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",nrows=1)

csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000,60000,60000,60000,60000,60000,60000,60000,...,75000,75000,75000,75000,75000,75000,75600,75600,75600,75600

In [15]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv")

print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [17]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",nrows=5)

csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000,60000,60000,60000,60000,60000,60000,60000,...,75000,75000,75000,75000,75000,75000,75600,75600,75600,75600
1,Income,Freelancig,1000,1000,2000,3000,3000,2000,2000,1000,...,4000,4000,7000,7000,7000,6000,6000,6000,6000,6000
2,Savings,Mutual funds,6000,6000,6000,6000,6000,6000,6000,6000,...,7000,7000,7000,7000,7000,7000,8000,8000,8000,8000
3,Savings,Emergency Fund,2000,2000,2000,2000,2000,2000,2000,0,...,2000,0,1000,1000,1000,1000,2000,1000,3000,3000
4,Savings,Fixed Deposit,2000,2000,2000,2000,2000,2000,2000,2000,...,0,2000,0,0,2000,2000,2600,2600,2600,2600

In [23]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",usecols=["Component","2021-01-01"])

csv_1

           Component  2021-01-01
0             Salary    60000.00
1         Freelancig     1000.00
2       Mutual funds     6000.00
3     Emergency Fund     2000.00
4      Fixed Deposit     2000.00
5        Liquid Cash    35600.00
6         House Rent    10000.00
7   Groceries & Food     6000.00
8             Health     1000.00
9               EMIs     2600.00
10           Leisure      600.00
11          Shopping     1000.00
12            Trevel      200.00
13             Other      100.00
14           Savings        0.25

In [25]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",usecols=[0,3])

csv_1

       Type  2021-02-01
0    Income    60000.00
1    Income     1000.00
2   Savings     6000.00
3   Savings     2000.00
4   Savings     2000.00
5   Savings    34600.00
6   Expense    10000.00
7   Expense     6000.00
8   Expense     1000.00
9   Expense     2600.00
10  Expense     1600.00
11  Expense     1000.00
12  Expense      200.00
13  Expense      300.00
14   Target        0.25

In [27]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",skiprows=[0])

csv_1

,Income,Salary,60000,60000.1,60000.2,60000.3,60000.4,60000.5,60000.6,60000.7,...,75000.4,75000.5,75000.6,75000.7,75000.8,75000.9,75600,75600.1,75600.2,75600.3
0,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
1,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
2,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
3,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
4,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
5,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
6,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
7,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
8,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
9,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
10,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
11,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
12,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
13,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [29]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",skiprows=[0,3,5,6])

csv_1

,Income,Salary,60000,60000.1,60000.2,60000.3,60000.4,60000.5,60000.6,60000.7,...,75000.4,75000.5,75000.6,75000.7,75000.8,75000.9,75600,75600.1,75600.2,75600.3
0,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
1,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
2,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
3,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
4,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
5,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
6,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
7,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
8,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
9,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
10,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [35]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",index_col="Type")

csv_1

,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
Type,,,,,,,,,,,,,,,,,,,,,
Income,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,66000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,32000.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,6000.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,4000.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,2000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,4000.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,800.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [37]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",header = 2)

csv_1

,Income,Freelancig,1000,1000.1,2000,3000,3000.1,2000.1,2000.2,1000.2,...,4000.8,4000.9,7000,7000.1,7000.2,6000,6000.1,6000.2,6000.3,6000.4
0,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
1,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
2,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
3,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
4,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
5,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
6,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
7,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
8,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
9,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
10,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
11,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
12,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3

In [39]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",names=["col"])

csv_1

                                                                                                                                                                                                                                                                                                                                                                                                                                                        col
Type    Component        2021-01-01 2021-02-01 2021-03-01 2021-04-01 2021-05-01 2021-06-01 2021-07-01 2021-08-01 2021-09-01 2021-10-01 2021-11-01 2021-12-01 2022-01-01 2022-02-01 2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01 2022-09-01 2022-10-01 2022-11-01 2022-12-01 2023-01-01 2023-02-01 2023-03-01 2023-04-01 2023-05-01 2023-06-01 2023-07-01 2023-08-01 2023-09-01 2023-10-01 2023-11-01 2023-12-01 2024-01-01  2024-02-01
Income  Salary           60000      60000      60000      60000      60000      60000      60000      60000      66000      66000      66000      66000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      75000      75000      75000      75000      75000      75000      75000      75000      75000      75000      75600      75600      75600            75600
        Freelancig       1000       1000       2000       3000       3000       2000       2000       1000       1000       1000       5000       5000       5000       5000       5000       5000       5000       5000       5000       5000       4000       4000       4000       4000       4000       4000       4000       4000       4000       4000       7000       7000       7000       6000       6000       6000       6000              6000
Savings Mutual funds     6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       0          7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       8000       8000       8000              8000
        Emergency Fund   2000       2000       2000       2000       2000       2000       2000       0          0          2000       2000       2000       2000       2000       2000       2000       2000       2000       2000       1000       0          0          0          0          0          0          0          0          2000       0          1000       1000       1000       1000       2000       1000       3000              3000
        Fixed Deposit    2000       2000       2000       2000       2000       2000       2000       2000       0          2000       0          0          0          2000       2000       2000       2000       1000       1000       1000       2000       0          0          0          0          0          0          0          0          2000       0          0          2000       2000       2600       2600       2600              2600
        Liquid Cash      35600      34600      36600      36600      37600      35600      34600      34600      32000      35200      41200      39200      44000      44400      44400      43400      43400      43400      42600      43600      41600      42500      38500      34100      36100      36100      37500      38100      36100      39200      37200      36400      36200      37200      32200      31200      31200            31750
Expense House Rent       10000      10000      10000      10000      10000      10000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000            16000
        Groceries & Food 6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       8000       8000       7000       7000       7000       7000       7000       7000       7000       8000       8000       8000       10000      10000      10000      10000      8000       8000       8000       10000      10000      10000      8000       10000      10000      9000              9000
        Health           1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       3000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000       4000       3000              3000
        EMIs             2600       2600       2600       2600       2600       2600       2600       2600       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       10000      10000      10000      10000      10000      10000      10000      10000      10000      10000      12000      12000      12000            12000
        Leisure          600        1600       600        1600       600        1600       600        1600       4000       1600       1600       1600       0          0          0          1000       1000       1000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       600        1600       3000       1600       1600       1600       1600       1600              1600
        Shopping         1000       1000       1000       1000       1000       1000       1000       1000       2000       1000       1000       1000       0          0          0          0          0          1000       0          0          0          1000       1000       2000       2000       2000       600        2000       2000       0          3000       2000       2000       2000       2000       3000       3000              2000
        Trevel           200        200        200        200        200        200        200        200        4000       200        200        200        0          0          0          0          0          0          200        200        200        300        300        300        300        300        300        300        300        200        200        600        200        200        200        200        200                200
        Other            100        300        500        300        100        200        700        200        800        200        133        200        0          0          400        0          500        0          200        170        184        300        300        164        0          300        300        300        200        90         200        600        800        200        200        400        200                450
Target  Savings          0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3                0.3

In [41]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv",names=["col1","col2","col3","col4","col5"])

csv_1

                                                                                                                                                                                                                                                                                                                                                                                                           col1  \
Type    Component        2021-01-01 2021-02-01 2021-03-01 2021-04-01 2021-05-01 2021-06-01 2021-07-01 2021-08-01 2021-09-01 2021-10-01 2021-11-01 2021-12-01 2022-01-01 2022-02-01 2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01 2022-09-01 2022-10-01 2022-11-01 2022-12-01 2023-01-01 2023-02-01 2023-03-01 2023-04-01 2023-05-01 2023-06-01 2023-07-01 2023-08-01 2023-09-01  2023-10-01
Income  Salary           60000      60000      60000      60000      60000      60000      60000      60000      66000      66000      66000      66000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      75000      75000      75000      75000      75000      75000      75000      75000      75000            75000
        Freelancig       1000       1000       2000       3000       3000       2000       2000       1000       1000       1000       5000       5000       5000       5000       5000       5000       5000       5000       5000       5000       4000       4000       4000       4000       4000       4000       4000       4000       4000       4000       7000       7000       7000              6000
Savings Mutual funds     6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       0          7000       7000       7000       7000       7000       7000       7000       7000       7000              7000
        Emergency Fund   2000       2000       2000       2000       2000       2000       2000       0          0          2000       2000       2000       2000       2000       2000       2000       2000       2000       2000       1000       0          0          0          0          0          0          0          0          2000       0          1000       1000       1000              1000
        Fixed Deposit    2000       2000       2000       2000       2000       2000       2000       2000       0          2000       0          0          0          2000       2000       2000       2000       1000       1000       1000       2000       0          0          0          0          0          0          0          0          2000       0          0          2000              2000
        Liquid Cash      35600      34600      36600      36600      37600      35600      34600      34600      32000      35200      41200      39200      44000      44400      44400      43400      43400      43400      42600      43600      41600      42500      38500      34100      36100      36100      37500      38100      36100      39200      37200      36400      36200            37200
Expense House Rent       10000      10000      10000      10000      10000      10000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000            16000
        Groceries & Food 6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       8000       8000       7000       7000       7000       7000       7000       7000       7000       8000       8000       8000       10000      10000      10000      10000      8000       8000       8000       10000      10000      10000             8000
        Health           1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       3000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000              3000
        EMIs             2600       2600       2600       2600       2600       2600       2600       2600       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       10000      10000      10000      10000      10000      10000      10000      10000      10000            10000
        Leisure          600        1600       600        1600       600        1600       600        1600       4000       1600       1600       1600       0          0          0          1000       1000       1000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       600        1600       3000       1600              1600
        Shopping         1000       1000       1000       1000       1000       1000       1000       1000       2000       1000       1000       1000       0          0          0          0          0          1000       0          0          0          1000       1000       2000       2000       2000       600        2000       2000       0          3000       2000       2000              2000
        Trevel           200        200        200        200        200        200        200        200        4000       200        200        200        0          0          0          0          0          0          200        200        200        300        300        300        300        300        300        300        300        200        200        600        200                200
        Other            100        300        500        300        100        200        700        200        800        200        133        200        0          0          400        0          500        0          200        170        184        300        300        164        0          300        300        300        200        90         200        600        800                200
Target  Savings          0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3                0.3

                                                                                                                                                                                                                                                                                                                                                                                                           col2  \
Type    Component        2021-01-01 2021-02-01 2021-03-01 2021-04-01 2021-05-01 2021-06-01 2021-07-01 2021-08-01 2021-09-01 2021-10-01 2021-11-01 2021-12-01 2022-01-01 2022-02-01 2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01 2022-09-01 2022-10-01 2022-11-01 2022-12-01 2023-01-01 2023-02-01 2023-03-01 2023-04-01 2023-05-01 2023-06-01 2023-07-01 2023-08-01 2023-09-01  2023-11-01
Income  Salary           60000      60000      60000      60000      60000      60000      60000      60000      66000      66000      66000      66000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      75000      75000      75000      75000      75000      75000      75000      75000      75000            75600
        Freelancig       1000       1000       2000       3000       3000       2000       2000       1000       1000       1000       5000       5000       5000       5000       5000       5000       5000       5000       5000       5000       4000       4000       4000       4000       4000       4000       4000       4000       4000       4000       7000       7000       7000              6000
Savings Mutual funds     6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       0          7000       7000       7000       7000       7000       7000       7000       7000       7000              8000
        Emergency Fund   2000       2000       2000       2000       2000       2000       2000       0          0          2000       2000       2000       2000       2000       2000       2000       2000       2000       2000       1000       0          0          0          0          0          0          0          0          2000       0          1000       1000       1000              2000
        Fixed Deposit    2000       2000       2000       2000       2000       2000       2000       2000       0          2000       0          0          0          2000       2000       2000       2000       1000       1000       1000       2000       0          0          0          0          0          0          0          0          2000       0          0          2000              2600
        Liquid Cash      35600      34600      36600      36600      37600      35600      34600      34600      32000      35200      41200      39200      44000      44400      44400      43400      43400      43400      42600      43600      41600      42500      38500      34100      36100      36100      37500      38100      36100      39200      37200      36400      36200            32200
Expense House Rent       10000      10000      10000      10000      10000      10000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000            16000
        Groceries & Food 6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       8000       8000       7000       7000       7000       7000       7000       7000       7000       8000       8000       8000       10000      10000      10000      10000      8000       8000       8000       10000      10000      10000            10000
        Health           1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       3000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000              3000
        EMIs             2600       2600       2600       2600       2600       2600       2600       2600       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       10000      10000      10000      10000      10000      10000      10000      10000      10000            12000
        Leisure          600        1600       600        1600       600        1600       600        1600       4000       1600       1600       1600       0          0          0          1000       1000       1000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       600        1600       3000       1600              1600
        Shopping         1000       1000       1000       1000       1000       1000       1000       1000       2000       1000       1000       1000       0          0          0          0          0          1000       0          0          0          1000       1000       2000       2000       2000       600        2000       2000       0          3000       2000       2000              2000
        Trevel           200        200        200        200        200        200        200        200        4000       200        200        200        0          0          0          0          0          0          200        200        200        300        300        300        300        300        300        300        300        200        200        600        200                200
        Other            100        300        500        300        100        200        700        200        800        200        133        200        0          0          400        0          500        0          200        170        184        300        300        164        0          300        300        300        200        90         200        600        800                200
Target  Savings          0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.25       0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3        0.3                0.3

                                                                                                                                                                                                                                                                                                                                                                                                           col3  \
Type    Component        2021-01-01 2021-02-01 2021-03-01 2021-04-01 2021-05-01 2021-06-01 2021-07-01 2021-08-01 2021-09-01 2021-10-01 2021-11-01 2021-12-01 2022-01-01 2022-02-01 2022-03-01 2022-04-01 2022-05-01 2022-06-01 2022-07-01 2022-08-01 2022-09-01 2022-10-01 2022-11-01 2022-12-01 2023-01-01 2023-02-01 2023-03-01 2023-04-01 2023-05-01 2023-06-01 2023-07-01 2023-08-01 2023-09-01  2023-12-01
Income  Salary           60000      60000      60000      60000      60000      60000      60000      60000      66000      66000      66000      66000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      70000      75000      75000      75000      75000      75000      75000      75000      75000      75000            75600
        Freelancig       1000       1000       2000       3000       3000       2000       2000       1000       1000       1000       5000       5000       5000       5000       5000       5000       5000       5000       5000       5000       4000       4000       4000       4000       4000       4000       4000       4000       4000       4000       7000       7000       7000              6000
Savings Mutual funds     6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       7000       0          7000       7000       7000       7000       7000       7000       7000       7000       7000              8000
        Emergency Fund   2000       2000       2000       2000       2000       2000       2000       0          0          2000       2000       2000       2000       2000       2000       2000       2000       2000       2000       1000       0          0          0          0          0          0          0          0          2000       0          1000       1000       1000              1000
        Fixed Deposit    2000       2000       2000       2000       2000       2000       2000       2000       0          2000       0          0          0          2000       2000       2000       2000       1000       1000       1000       2000       0          0          0          0          0          0          0          0          2000       0          0          2000              2600
        Liquid Cash      35600      34600      36600      36600      37600      35600      34600      34600      32000      35200      41200      39200      44000      44400      44400      43400      43400      43400      42600      43600      41600      42500      38500      34100      36100      36100      37500      38100      36100      39200      37200      36400      36200            31200
Expense House Rent       10000      10000      10000      10000      10000      10000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      12000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000      16000            16000
        Groceries & Food 6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       8000       8000       7000       7000       7000       7000       7000       7000       7000       8000       8000       8000       10000      10000      10000      10000      8000       8000       8000       10000      10000      10000            10000
        Health           1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       1000       3000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       3000       3000       3000       3000       3000       3000       3000       3000       3000       3000              4000
        EMIs             2600       2600       2600       2600       2600       2600       2600       2600       6000       6000       6000       6000       6000       6000       6000       6000       6000       6000       7000       7000       7000       7000       7000       7000       10000      10000      10000      10000      10000      10000      10000      10000      10000            12000
        Leisure          600        1600       600        1600       600        1600       600        1600       4000       1600       1600       1600       0          0          0          1000       1000       1000       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       1600       600        1600       3000       1600              1600
        Shopping         1000       1000       1000       1000       1000       1000       1000       1000       2000       1000       1000       1000       0          0          0          0          0          1000       0          0          0          1000       1000       2000       2000       2000       600        2000       2000       0          3000       2000       2000              3000
        Trevel           200        200        200        200        200        200        200        200        4000       200        200        200        0          0          0          0          0          0          200        200        200        300        300        300        300        300        300        300        300        200        200        600        200                200

In [47]:
csv_1 = pd.read_csv("C:\\Users\\aditi\\python\\pandas\\Finance Dataset.csv", dtype={"2021-01-01":"float"})

csv_1

,Type,Component,2021-01-01,2021-02-01,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,...,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01,2024-01-01,2024-02-01
0,Income,Salary,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,60000.00,...,75000.0,75000.0,75000.0,75000.0,75000.0,75000.0,75600.0,75600.0,75600.0,75600.0
1,Income,Freelancig,1000.00,1000.00,2000.00,3000.00,3000.00,2000.00,2000.00,1000.00,...,4000.0,4000.0,7000.0,7000.0,7000.0,6000.0,6000.0,6000.0,6000.0,6000.0
2,Savings,Mutual funds,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,7000.0,7000.0,7000.0,7000.0,7000.0,7000.0,8000.0,8000.0,8000.0,8000.0
3,Savings,Emergency Fund,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,0.00,...,2000.0,0.0,1000.0,1000.0,1000.0,1000.0,2000.0,1000.0,3000.0,3000.0
4,Savings,Fixed Deposit,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,2000.00,...,0.0,2000.0,0.0,0.0,2000.0,2000.0,2600.0,2600.0,2600.0,2600.0
5,Savings,Liquid Cash,35600.00,34600.00,36600.00,36600.00,37600.00,35600.00,34600.00,34600.00,...,36100.0,39200.0,37200.0,36400.0,36200.0,37200.0,32200.0,31200.0,31200.0,31750.0
6,Expense,House Rent,10000.00,10000.00,10000.00,10000.00,10000.00,10000.00,12000.00,12000.00,...,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0,16000.0
7,Expense,Groceries & Food,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,6000.00,...,8000.0,8000.0,10000.0,10000.0,10000.0,8000.0,10000.0,10000.0,9000.0,9000.0
8,Expense,Health,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,4000.0,3000.0,3000.0
9,Expense,EMIs,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,2600.00,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,12000.0,12000.0,12000.0,12000.0
10,Expense,Leisure,600.00,1600.00,600.00,1600.00,600.00,1600.00,600.00,1600.00,...,1600.0,600.0,1600.0,3000.0,1600.0,1600.0,1600.0,1600.0,1600.0,1600.0
11,Expense,Shopping,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,...,2000.0,0.0,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,2000.0
12,Expense,Trevel,200.00,200.00,200.00,200.00,200.00,200.00,200.00,200.00,...,300.0,200.0,200.0,600.0,200.0,200.0,200.0,200.0,200.0,200.0
13,Expense,Other,100.00,300.00,500.00,300.00,100.00,200.00,700.00,200.00,...,200.0,90.0,200.0,600.0,800.0,200.0,200.0,400.0,200.0,450.0
14,Target,Savings,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3